<section id="about" class="container-lg">
    <div class="d-md-flex flex-md-equal w-100 pl-md-3">
        <div class="mr-md-3 overflow-hidden">
            <div class="py-3">
                <h3 class="display-5 section-title">Purpose</h3>
            </div>
            <div class="mx-auto bd-highlight text-justify px-3">
                <p class="text-justify">
                    <p>
                        This hackathon is more than just a competition; it's a
                        platform for innovators, creators, and visionaries to
                        come together and pioneer solutions for a brighter
                        future. Our purpose is to harness the power of open
                        source hardware, the Internet of Things (IoT), and
                        Geographic Information Systems (GIS) to address some of
                        the world's most pressing challenges.
                    </p>
                    <p>
                        The FOSSEE project, IIT Bombay promotes the use of Free/
                        Libre Open Source Software in academia and Industry. The
                        FOSSEE project&nbsp; is funded through the National
                        Mission on Education through ICT (NMEICT), Ministry of
                        Education, Government of India. The FOSSEE-GIS team
                        manages the overall coordination of the "IIT Bombay
                        FOSSEE GIS Internship in Geospatial Dashboard Design and
                        Implementation".&nbsp;
                    </p>
                </p>
            </div>
        </div>
    </div>
</section>
