<section id="contact-us" class="container-lg">
    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 mb-md-3 pl-md-3">
            <div class="mr-md-3 overflow-hidden">
                <div class="py-3">
                    <h3 class="display-5 text-center section-title">
                        Core Team & Contact Us <i class="fa fa-phone"></i>
                    </h3>
                </div>
                <div class="row mb-2">
                    <div
                        class="mx-auto text-center col-md-5 border"
                        style="border-radius: 21px 21px 21px 21px; font-size: 12pt"
                    >
                        <p>
                            <span><strong>Prof. Kannan Moudgalya</strong></span>
                        </p>
                        <p>
                            <span>P.I., FOSSEE</span>
                        </p>
                        <p>
                            <span>Indian Institute of Technology Bombay</span>
                        </p>
                    </div>
                    <div
                        class="mx-auto text-center col-md-5 border"
                        style="border-radius: 21px 21px 21px 21px; font-size: 12pt"
                    >
                        <p>
                            <span><strong>Prof. Pennan Chinnasamy</strong></span
                            >
                        </p>
                        <p>
                            <span
                                >Co.P.I., FOSSEE & PiC, The Rural Data Research
                                & Analysis (RuDRA) Lab, IIT Bombay</span
                            >
                        </p>
                        <p>
                            <span>Indian Institute of Technology Bombay</span>
                        </p>
                    </div>
                    <div
                        class="mx-auto text-center col-md-5 border"
                        style="border-radius: 25px 25px 25px 25px; font-size: 12pt"
                    >
                        <p>
                            <span><strong>Prof. Roshan Srivastav</strong></span>
                        </p>
                        <p>
                            <span
                                >Project Director, IIT Tirupati Navavishkar
                                I-Hub Foundation (NM-ICPS, DST)</span
                            >
                        </p>
                        <p>
                            <span>Indian Institute of Technology Tirupati</span>
                        </p>
                    </div>
                    <div
                        class="mx-auto text-center col-md-5 border"
                        style="border-radius: 21px 21px 21px 21px; font-size: 12pt"
                    >
                        <p>
                            <span><strong>Mr. Rajesh Kushalkar</strong></span>
                        </p>
                        <p>
                            <span>Senior Manager, FOSSEE-Open Hardware</span>
                        </p>
                        <p>
                            <span>Indian Institute of Technology Bombay</span>
                        </p>
                    </div>
                    <div
                        class="mx-auto pb-1 text-center col-md-7 border"
                        style="border-radius: 23px 23px 23px 23px; font-size: 11pt"
                    >
                        <p>
                            <span><strong>Mr. Mohamed Kasim Khan</strong></span>
                        </p>
                        <p>
                            <span>National Coordinator, FOSSEE-GIS</span>
                        </p>
                        <p>
                            <span
                                >National Mission on Education through ICT,
                                Ministry of Education, Government of India</span
                            >
                        </p>
                        <p>
                            <span>Indian Institute of Technology Bombay</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center">
            Please write to us in case of any queries regarding the Hackathon
            at:
        </p>
        <div class="mx-auto py-2 text-center">
            <h5>
                <i class="far fa-envelope"></i> Email: <a
                    href="mailto:contact-oshw@fossee.in "
                    >contact-oshw[at]fossee[dot]in
                </a>
            </h5>
        </div>
    </div>
</section>
