---
import faqsJSON from "../../data/faqs.json";
---

<section id="FAQ" class="container-lg">
    <div class="d-md-flex w-200 pl-md-3">
        <div class="mr-md-3 overflow-hidden">
            <div class="py-3">
                <h3 class="display-5 section-title">
                    Frequently Asked Questions (FAQ)
                </h3>
            </div>
            <div class="mx-auto bd-highlight text-justify px-3">
                {
                    faqsJSON.map((faq, i) => (
                        <>
                            <p class="text-justify">
                                <p>
                                    <span>
                                        <strong>
                                            {i + 1}. {faq.question}
                                        </strong>
                                    </span>
                                </p>

                                <p>
                                    <span>
                                        <strong>Answer: </strong>
                                        {faq.answer}
                                    </span>
                                </p>
                            </p>
                        </>
                    ))
                }
            </div>
        </div>
    </div>
</section>
