<section id="intro" class="container-lg">
    <div class="d-md-flex flex-md-equal w-100 mt-md-4 pl-md-3">
        <div class="mr-md-3 overflow-hidden">
            <div class="py-3">
                <h3 class="display-5 section-title">
                    Introducing the Hackathon: Unlocking Innovation for a Better
                    World
                </h3>
            </div>
            <p class="section-title-2 text-center">
                Welcome to the Open Source Hardware IoT GIS Hackathon!
            </p>
            <div class="mx-auto bd-highlight text-justify px-3">
                <p class="text-justify">
                    Welcome to the National Level Open Hardware-IoT Geospatial
                    Hackathon, a stage where innovation knows no boundaries.
                    This premier event brings together visionaries, tech
                    enthusiasts, and problem solvers from across the nation to
                    harness the power of open hardware, the Internet of Things
                    (IoT), and geospatial technology. Get ready to explore
                    uncharted possibilities, collaborate on real-world
                    challenges, and make a significant impact on our world.
                </p>

                <h4><span><strong>Significance:</strong></span></h4>
                <ul style="list-style-type: square;">
                    In a world where technology shapes our daily lives, the
                    significance of this hackathon cannot be overstated. Here,
                    participants have the opportunity to redefine the boundaries
                    of what's possible. By merging open source principles with
                    cutting-edge technologies, we aim to:
                    <li>
                        Solve Real-World Problems: Tackle critical issues such
                        as environmental sustainability, disaster management,
                        precision agriculture, and more. Your solutions can
                        change lives and protect our planet.
                    </li>
                    <li>
                        Foster Innovation: Innovation thrives when knowledge is
                        shared openly. By promoting open source hardware and
                        IoT, we empower you to push the boundaries of creativity
                        and discovery.
                    </li>
                    <li>
                        Create Collaborative Communities: Through this
                        hackathon, we build communities of like-minded
                        individuals passionate about making a difference.
                        Together, we can achieve more than any one of us can
                        alone.
                    </li>
                    <li>
                        Empower Future Leaders: Whether you're a student, a
                        professional, or an enthusiast, this hackathon is a
                        launchpad for your ideas. It's a chance to develop your
                        skills, showcase your talents, and make your mark on the
                        world.
                    </li>
                </ul>
                <p>
                    Join us on this extraordinary journey, where innovation
                    knows no bounds. Together, let's turn ideas into actions and
                    make a lasting impact on society and the environment. The
                    Open Source Hardware IoT GIS Hackathon is your stage to
                    shine, and the world is waiting to witness your brilliance.
                </p>
            </div>
        </div>
    </div>
</section>
