<section id="partners-and-organisers" class="container-lg">
    <div class="d-md-flex flex-md-equal w-100 pl-md-3">
        <div class="pt-3 overflow-hidden">
            <div class="py-3">
                <h4 class="display-5 section-title">Partners and Organisers</h4>
            </div>

            <div class="container text-center my-3" style="height:100px;">
                <div
                    id="recipeCarousel"
                    class="carousel slide w-100"
                    data-ride="carousel"
                >
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item row no-gutters active">
                            <div class="col-3 float-left">
                                <a href="http://iitb.ac.in/" target="_blank">
                                    <img
                                        src="/static/cms/uploads/images/iitb-logo.png"
                                        class="img-fluid"
                                        alt="IITB"
                                        height="100px"
                                    />
                                </a>
                            </div>
                            <div class="col-3 float-left">
                                <a href="https://fossee.in" target="_blank">
                                    <img
                                        src="/static/cms/uploads/images/fossee-logo.png"
                                        class="img-fluid"
                                        alt="FOSSEE"
                                        height="100px"
                                    />
                                </a>
                            </div>
                            <div class="col-3 float-left">
                                <a
                                    href="https://spoken-tutorial.org/"
                                    target="_blank"
                                >
                                    <img
                                        src="/static/cms/uploads/images/st-logo.png"
                                        class="img-fluid"
                                        alt="Spoken Tutorial"
                                        width="30%"
                                    />
                                </a>
                            </div>
                            <div class="col-3 float-left">
                                <a href="http://www.icfoss.in/" target="_blank"
                                    ><img
                                        class="img-fluid"
                                        alt="icfoss"
                                        src="/static/cms/uploads/images/icfoss-logo.png"
                                        width="60%"
                                    /></a
                                >
                            </div>

                            <div class="carousel-item row no-gutters">
                                <div class="col-3 float-left">
                                    <a
                                        href="http://www.rudra.iitb.ac.in/"
                                        target="_blank"
                                    >
                                        <img
                                            src="/static/cms/uploads/images/rudra-logo.png"
                                            class="img-fluid"
                                            alt="Rudra"
                                            width="32%"
                                        />
                                    </a>
                                </div>
                                <div class="col-3 float-left">
                                    <a
                                        href="https://www.iittp.ac.in/"
                                        target="_blank"
                                    >
                                        <img
                                            src="/static/cms/uploads/images/iit-tirupati.png"
                                            class="img-fluid"
                                            alt="IIT Tirupati"
                                            width="48%"
                                        />
                                    </a>
                                </div>
                                <div class="col-3 float-left">
                                    <a
                                        href="https://iittnif.com/"
                                        target="_blank"
                                    >
                                        <img
                                            src="/static/cms/uploads/images/navavishkaar.png"
                                            class="img-fluid"
                                            alt="IITTNiF"
                                            width="75%"
                                        />
                                    </a>
                                </div>
                                <div class="col-3 float-left">
                                    <a
                                        href="https://nmicps.in/"
                                        target="_blank"
                                    >
                                        <img
                                            src="/static/cms/uploads/images/NM-ICPS-logo1.png"
                                            class="img-fluid"
                                            alt="NMICPS"
                                            width="25%"
                                        />
                                    </a>
                                </div>

                                <!--<div class="col-3 float-left"><img class="img-fluid" src="http://via.placeholder.com/350x280/bbb?text=8"></div>-->
                            </div>
                        </div>
                        <a
                            class="carousel-control-prev text-danger"
                            href="#recipeCarousel"
                            role="button"
                            data-slide="prev"
                        >
                            <span
                                class="carousel-control-prev-icon"
                                aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a
                            class="carousel-control-next"
                            href="#recipeCarousel"
                            role="button"
                            data-slide="next"
                        >
                            <span
                                class="carousel-control-next-icon"
                                aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div>
                    <p class="text-justify">
                        <strong
                            >Main Organizer: IIT Bombay FOSSEE GIS & OSHW
                            project (NMEICT, Ministry of Education, Government
                            of India)</strong
                        >
                        &nbsp;The IIT Bombay FOSSEE GIS & OSHW project teams are
                        the main organizers of this National Level Geospatial IoT
                        Hackathon 2024 (Edition 01). FOSSEE promotes the usage of
                        Free/Libre Open Source Software in academia and industry
                        and is funded through the National Mission on Education through
                        ICT, Ministry of Education, Government of India.
                    </p>
                </div>
                <div>
                    <p class="text-justify">
                        <strong>Technical Partner:</strong>
                        &nbsp;The Rural Data Research and Analysis (RuDRA) Lab, IIT
                        Bombay is India's first HPC-powered data center dedicated
                        to Rural Development.
                    </p>
                </div>
                <div>
                    <p class="text-justify">
                        <strong>
                            Organizing Partners: IITTNiF (NM-ICPS, DST,
                            Government of India) & ICFOSS (Government of
                            Kerala):</strong
                        >
                        &nbsp; The <strong
                            >IIT Tirupati Navavishkar I-Hub Foundation</strong
                        > is the Technology Innovation Hub of IIT Tirupati specializing
                        in Positioning and Precision Technologies, funded through
                        the National Mission on Interdisciplinary Cyber-Physical
                        System (NM-ICPS), Department of Science and Technology, Government
                        of India.

                        <strong
                            >ICFOSS: The International Centre for Free and Open
                            Source Software (ICFOSS) is an autonomous
                            organization set up by the Government of Kerala,
                            India,</strong
                        > and has the combined mandate of popularizing Free and Open
                        Source Software for universal use; consolidating the early
                        FOSS work done in Kerala; and networking with different nations,
                        communities, and governments to collaboratively promote FOSS
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
