---
import BaseLayout from "../layouts/BaseLayout.astro";
const showPoster = false;
---

<BaseLayout showPoster={showPoster}>
    <div class="container pb-4 bg-light">
        <div class="section-title">Resources</div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseEight"
                            aria-expanded="true"
                            aria-controls="collapseEight"
                        >
                            FOSSEE and Spoken Tutorial
                        </button>
                    </h2>
                </div>

                <div
                    id="collapseEight"
                    class="collapse show"
                    aria-labelledby="headingEight"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <p class="text-info">
                            1. <a
                                class="text-info"
                                href="https://spoken-tutorial.org/tutorial-search/?search_foss=Arduino&search_language=English"
                                >Arduino Tutorial Series by Spoken Tutorial</a
                            ><br />
                            2. <a
                                class="text-info"
                                href="https://floss-arduino.fossee.in/"
                                >FLOSS-Arduino books teach Arduino control via
                                open-source software</a
                            >
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="false"
                            aria-controls="collapseOne"
                        >
                            Soil Nutrients Monitoring and Precision Agriculture
                        </button>
                    </h2>
                </div>

                <div
                    id="collapseOne"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <p class="text-info">
                            1. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=pgGpuws7f9o"
                                >Water Your Garden with IoT - Soil Moisture
                                Sensors</a
                            ><br />
                            2. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=PTJ9sAk2c2I"
                                >New Blynk IOT Smart Plant Monitoring System</a
                            >
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                        >
                            Weather Station
                        </button>
                    </h2>
                </div>
                <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <p class="text-info">
                            1. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=snCp0TqrER4"
                                >DIY Smart Home Weather Station - Wind, Rain,
                                Temperature, Pressure, Humidity, Ligh</a
                            ><br />
                            2. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=l3-y371RlI4"
                                >Arduino Wireless Weather Station Project</a
                            ><br />
                            3. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=Nw392q1Sg4M"
                                >LoRa Based Wireless Weather Station using
                                Arduino and ESP32</a
                            >
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                        >
                            Air Quality and Noise Pollution Level
                        </button>
                    </h2>
                </div>
                <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <p class="text-info">
                            1. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=SCXteaUVICw"
                                >Air Quality Monitoring and Alert System using
                                Arduino with MQ135</a
                            ><br />
                            2. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=p3-0mWkOFBk"
                                >IoT based Noise & Air quality Monitoring using
                                blynk IoT | New Automation Tab update in Blynk</a
                            >
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseSeven"
                            aria-expanded="false"
                            aria-controls="collapseSeven"
                        >
                            Asset Tracking
                        </button>
                    </h2>
                </div>
                <div
                    id="collapseSeven"
                    class="collapse"
                    aria-labelledby="headingSeven"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <p class="text-info">
                            1. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=zFn487G2pY8"
                                >IOT Asset Tracking System</a
                            ><br />
                            2. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=rdvZpwV9A18"
                                >Arduino Gps And Gsm Based location Tracking
                                System | Women Safety Device Small Version</a
                            >
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseFour"
                            aria-expanded="false"
                            aria-controls="collapseFour"
                        >
                            Global Warming
                        </button>
                    </h2>
                </div>
                <div
                    id="collapseFour"
                    class="collapse"
                    aria-labelledby="headingFour"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <p class="text-info">
                            1. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=0SulU4QM334"
                                >Smart Grid: How IoT fights climate change
                                (Kelsey Breseman)</a
                            >
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseFive"
                            aria-expanded="false"
                            aria-controls="collapseFive"
                        >
                            Disaster Management
                        </button>
                    </h2>
                </div>
                <div
                    id="collapseFive"
                    class="collapse"
                    aria-labelledby="headingFive"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <p class="text-info">
                            1. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=dYG7GsqcCMM"
                                >Geospatial data for disaster management at ITC</a
                            >
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseSix"
                            aria-expanded="false"
                            aria-controls="collapseSix"
                        >
                            Vehicle Detection and Intelligent Transportation
                        </button>
                    </h2>
                </div>
                <div
                    id="collapseSix"
                    class="collapse"
                    aria-labelledby="headingSix"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <p class="text-info">
                            1. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=H_JhcBTgwPo"
                                >Intelligent Transport Systems made in KOREA
                                English Version 22'</a
                            ><br />
                            2. <a
                                class="text-info"
                                href="https://www.youtube.com/watch?v=Q8Cn47L8FRQ"
                                >Connected Vehicle: The Future of Transportation</a
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
