---
import BaseLayout from "../layouts/BaseLayout.astro";
import weeksJSON from "../data/scheduleWeeks.json";

const showPoster = false;
---

<BaseLayout showPoster={showPoster}>
    <h3 class="display-5 section-title text-center bg-light">
        National Level Open Hardware-IoT Geospatial Hackathon
    </h3>

    <div class="main-timeline bg-light">
        {
            weeksJSON.map((week) => (
                <>
                    <div class="week">
                        <h2>{week.title}</h2>
                        {week.days.map((city) => (
                            <div class="day">
                                <h3>{city}</h3>
                            </div>
                        ))}
                    </div>
                </>
            ))
        }
    </div>
</BaseLayout>
