<div class="footer-content">
    <div class="footer-content">
        <section id="footer" class="site-footer">
            <footer class="container-fluid py-5 site-footer pl-5 pr-4">
                <div class="row">
                    <div class="col-sm-3">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a
                                    class="text-muted"
                                    href="https://www.iitb.ac.in/"
                                    target="_blank"
                                    ><span style="color: white;"
                                        >IIT Bombay</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="https://fossee.in/"
                                    target="_blank"
                                    ><span style="color: white;">FOSSEE</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="https://www.iittnif.org"
                                    target="_blank"
                                    ><span style="color: white;">IITTNiF</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="https://spoken-tutorial.org"
                                    target="_blank"
                                    ><span style="color: white;"
                                        >Spoken Tutorial</span
                                    ></a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a
                                    class="text-muted"
                                    href="https://qgis.org/en/site/forusers/download"
                                    target="_blank"
                                    ><span style="color: black;">QGIS</span></a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="https://spoken-tutorial.org/tutorial-search/?search_foss=QGIS&search_language=English"
                                    target="_blank"
                                    ><span style="color: black;"
                                        >Spoken Tutorials - FOSSEE - QGIS</span
                                    ></a
                                >
                            </li>
                        </ul>
                    </div>
                    <!--  <div class="col-sm-3">
       <h5>Socail Media</h5>
       <ul class="list-unstyled text-small">
          <li><a href="https://www.facebook.com/FOSSEENMEICT/" class="facebook text-white" target="_blank"><i
             class="fab fa-facebook"></i></a>
          </li><br>
          <li><a href="https://twitter.com/FOSSEENMEICT/" class="twitter" target="_blank"><i
             class="fab fa-twitter"></i></a>
          </li>
       </ul>
    </div>
    <div class="col-sm-3"> -->
                    <small class="d-block mb-3 text-muted">
                        <a
                            rel="license"
                            href="http://creativecommons.org/licenses/by-sa/4.0/"
                            ><img
                                alt="Creative Commons License"
                                style="border-width:0"
                                src="https://iitb-isro-aicte-mapathon.fossee.in/static/cms/uploads/images/88x31.png"
                            /></a
                        ><br /><span style="color: black;"
                            >This work is licensed under a
                        </span><a
                            rel="license"
                            style="color:black"
                            href="http://creativecommons.org/licenses/by-sa/4.0/"
                            >Creative Commons Attribution-ShareAlike 4.0
                            International License
                        </a>.
                    </small>
                </div>
            </footer>
        </section>
    </div>
</div>
