<div class="view pt-5 pb-5" id="front">
    <div class="row d-flex align-items-center text-center">
        <div class="col-md-1"></div>

        <div class="col-md-6 mx-1 order-md-3">
            <!-- <img src="right.png" id="left-img"> -->
            <h2 style="color: #000080ff;">
                IIT Bombay-FOSSEE-GIS/OSHW, IITTNiF & ICFOSS presents
            </h2>
            <img
                src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/right-img.png"
                id="right-img"
            />
            <div class="m-3 dates p-3">
                <!--<p class="important-dates"><strong>Registration opens: </strong>March 22, 2023</p>
  <p class="important-dates"><strong>Registration closes: </strong>April 30, 2024</p>
 <p class="important-dates"><strong>Hackathon start date : </strong>To be announced</p>-->
                <!--<p class="important-dates"><strong>Problem Statement Announcement + Submission Opens: </strong>12th Nov</p>
  <p class="important-dates"><strong>Submission Closes:</strong> 28th Nov</p>
  <p class="important-dates"><strong>Result Declaration:</strong> 14th Dec</p>-->
                <a href="/#register"
                    ><button class="custom-btn btn-register">Register</button>
                </a>
            </div>
        </div>
        <div class="col-md-4 mx-1 order-md-1">
            <img
                src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/indiamap.png"
                id="left-img"
            />
        </div>
    </div>
</div>
