<div class="icon-bar">
    <a
        href="https://www.facebook.com/FOSSEENMEICT/"
        class="facebook text-white"
        target="_blank"><i class="fab fa-facebook-square"></i></a
    >
    <a
        href="https://www.instagram.com/fossee_nmeict/"
        class="instagram"
        target="_blank"><i class="fab fa-instagram"></i></a
    >
    <a href="https://twitter.com/FOSSEE/" class="twitter" target="_blank"
        ><i class="fab fa-twitter-square"></i></a
    >
    <a
        href="https://www.linkedin.com/company/fossee-iitb/"
        class="linkedin"
        target="_blank"><i class="fab fa-linkedin"></i></a
    >
</div>
