<div class="banner-content">
    <div id="top-logo-placeholder" class="container-sm">
        <div class="d-flex justify-content-center">
            <div class="p-2 pt-4 pb-1">
                <a href="http://iitb.ac.in/" target="_blank">
                    <img
                        src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/iitb-logo.png"
                        class="img-fluid logos"
                        alt="IITB"
                    />
                </a>
            </div>
            <div class="p-2 pt-4 pb-1">
                <a href="https://fossee.in" target="_blank">
                    <img
                        src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/fossee-logo.png"
                        class="img-fluid logos"
                        alt="FOSSEE"
                    />
                </a>
            </div>

            <div class="p-2 pt-4 pb-1">
                <a href="http://www.rudra.iitb.ac.in/" target="_blank">
                    <img
                        src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/rudra-logo.png"
                        class="img-fluid logos"
                        alt="Rudra"
                    />
                </a>
            </div>
            <div class="p-2 pt-4 pb-1">
                <a href="https://www.iittp.ac.in/" target="_blank">
                    <img
                        src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/iit-tirupati.png"
                        class="img-fluid logos"
                        alt="IIT Tirupati"
                    />
                </a>
            </div>
            <div class="p-2 pt-4 pb-1">
                <a href="https://iittnif.com/" target="_blank">
                    <img
                        src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/navavishkaar.png"
                        class="img-fluid logos"
                        alt="IITTNiF"
                    />
                </a>
            </div>
            <div class="p-2 pt-4 pb-1">
                <a href="https://nmicps.in/" target="_blank">
                    <img
                        src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/NM-ICPS-logo1.png"
                        class="img-fluid logos"
                        alt="NMICPS"
                    />
                </a>
            </div>
            <div class="p-2 pt-4 pb-1">
                <a href="#" target="">
                    <img
                        src="https://iot-gis-hackathon.fossee.in/static/cms/uploads/images/icfoss-logo.png"
                        class="img-fluid logos big-img"
                        alt="icfoss"
                        style="@media screen and (min-width:480px;){
.big-img{
width:20%;
}
}"
                    />
                </a>
            </div>

            <!--<div class="p-2 pt-1 pb-1">
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/tn-logo.png" class="img-fluid" alt="TN Logo">
</div>                      
<div class="p-2 pt-1 pb-1">      
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/tsdc-logo.png" class="img-fluid" alt="TSDC Logo">
</div>
<div class="p-2 pt-3 pb-1">  
 <a href="https://www.g20.org/en/" target="_blank">
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/g20-logo.png" class="img-fluid" alt="G20">
 </a>
</div>
<div class="p-2 pt-4 pb-1">  
 <a href="https://amritmahotsav.nic.in/" target="_blank">
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/amrit-mahotsav.png" class="img-fluid" alt="Amrit Mahotsav" >
 </a>
</div>-->
            <!-- <div class="p-2 pt-1 pb-1">
 <a href="https://spoken-tutorial.org" target="_blank">
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/st-logo.png"
             class="img-fluid logos" alt="Spoken Tutorial">
 </a>
</div>-->
        </div>
    </div>
</div>
